### openpyxl (可讀寫excel表) : 專門處理Excel2007及以上版本產生的xlsx檔案，xls和xlsx之間轉換容易
英文教學 : [Openpyxl tutorial](http://zetcode.com/python/openpyxl/)

In [1]:
import numpy as np
import pandas as pd
from openpyxl import load_workbook
wb = load_workbook('data1.xlsx',data_only=True)
print(wb.sheetnames) #查看xlsx有甚麼分頁 ['iso5167-4', 'simplified method']

# 兩種選擇分頁方法
iso_sheet = wb.worksheets[0]
sim_sheet = wb.worksheets[1]
#iso = wb['iso5167-4']

print(iso_sheet['K2'].value)#768.7
print(sim_sheet['K1'].value)#768.7

['iso5167-4', 'simplified method']
0.2
768.7

In [2]:
#測試
#Patm = iso_sheet['K1'].value
#D    = iso_sheet['K4'].value
#d    = iso_sheet['K5'].value

# iso_sheet['K1']  #<Cell 'iso5167-4'.K1>

#for cell in list(iso_sheet.columns)[11]:
#    print(cell.value)

#D = list(iso_sheet.cell)['K4']

#for i in range(4,6):
#    print(type(iso_sheet.cell(i,11).value))  #<class 'float'>

In [3]:
# 一次大量讀取cell資料的方法
# hint: 如果xlsx的cell內是公式的話，想要讀取出值，必須在
# 前面 wb = load_workbook('data1.xlsx',data_only=True)加上 data_only=True。
parameter_list_number = []
for row in iso_sheet.iter_cols(min_row=1, min_col=11, max_row=17, max_col=11): #每一個row
    for cell in row: #每一個row裡的cell
        parameter_list_number.append(cell.value)
        #print(cell.value, end=" ")    
print(parameter_list_number)

[768.7, 0.2, 0.14, 1.4, '1.5*10^-5', 1.8e-05, 28.8, 8.314, 1.5e-05, 23.3, 64, 0.7000000000000001, 0.28868055555555555, 296.45, 0.031415900000000004, 1.1975424418815575, 0.9997070309770733]

In [4]:
#以下有兩種辦法呼叫參數 list、dict
'''
方法一
# 建立各參數的list，之後用x[]呼叫
x = parameter_list_label = ['Patm','D','d','k','vair','uair','Mair','Ru','vair','T','W','b','R','K','AD','p','P2_P1']
x = parameter_list_number #list
# 因為list只能用index呼叫，所以下列印出對照表，方便引用參數。
a={'np.arange(1,18)' : parameter_list_label} #兩個list組成dict
b=pd.DataFrame(a, index=np.arange(1,18))
print(b)
'''
#方法二 (以下都用dict方法)
parameter_list_label = ['Patm','D','d','k','vair','uair','Mair','Ru','vair','T','W','b','R','K','AD','p','P2_P1']
dic = dict(zip(parameter_list_label, parameter_list_number)) #dict字典
print(dic["R"])     #0.28868055555555555
print(dic['Patm'])  #768.7

0.28868055555555555
768.7

# 1
### P1、P2處之壓力
先算出P1(kpa)、P2(kpa)
xlsx內輸入10筆壓差後，經過計算得到多個參數。

In [71]:
# p1_kpa  (P1壓力)
p1_kpa = [] #從xlsx讀取數值
for row in iso_sheet.iter_cols(min_row=2, min_col=5, max_row=11, max_col=5):
    for cell in row:
        p1_kpa.append(cell.value)

p1_kpa_label = []#建立變數名稱
for i in np.arange(1,11): # 1 2 3~~~10
    p1_kpa_label.append('P'+ repr(i)) # repr()將不同類型的變數串成字串。
print(p1_kpa_label)

#將兩個list變成dict，引用參數 dict_p1_kpi['']
dict_p1_kpa = dict(zip(p1_kpa_label, p1_kpa)) #字典還有另一種方法 a ={'x':y}
print(dict_p1_kpa['P1'])

#方便查看變數，列印出表
# 引用參數迭代，p1_kpa[]
pd.DataFrame(p1_kpa, columns=['P1(kpa)'], index=p1_kpa_label)

['P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9', 'P10']
102.39990460526317

        P1(kpa)
P1   102.399905
P2   102.326905
P3   102.237905
P4   102.126905
P5   101.996905
P6   101.831905
P7   101.661905
P8   101.486905
P9   101.304905
P10  101.099905

In [70]:
# p2_kpa  (P2壓力)
p2_kpa = []
for row in iso_sheet.iter_cols(min_row=2, min_col=6, max_row=11, max_col=6):
    for cell in row:
        p2_kpa.append(cell.value)

p2_kpa_label = []
for i in np.arange(1,11):
    p2_kpa_label.append('P'+ repr(i))
print(p2_kpa_label)

#將兩個list變成dict，引用參數 dict_p1_kpi['']    
dict_p2_kpa = dict(zip(p2_kpa_label, p2_kpa))
print(dict_p2_kpa['P1'])

#方便查看變數，列印出表
# 引用參數迭代，p2_kpa[]
pd.DataFrame(p2_kpa,columns=['P2(kpa)'] ,index=p2_kpa_label)

['P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9', 'P10']
102.36990460526317

        P2(kpa)
P1   102.369905
P2   102.280905
P3   102.166905
P4   102.026905
P5   101.858905
P6   101.645905
P7   101.416905
P8   101.180905
P9   100.926905
P10  100.642905

In [98]:
# 10筆壓差  delta_P=P2-P1 (pa) 這裡要將 kpa轉成 pa
delta_P = []
for i in np.arange(0,10):
    x = (p1_kpa[i]-p2_kpa[i])*1000
    delta_P.append(x)

delta_P_label = []
for i in np.arange(1,11):
    delta_P_label.append('delta_P'+repr(i))
    
pd.DataFrame(delta_P, index=delta_P_label, columns=['delta_P(壓差)'])

           delta_P(壓差)
delta_P1          30.0
delta_P2          46.0
delta_P3          71.0
delta_P4         100.0
delta_P5         138.0
delta_P6         186.0
delta_P7         245.0
delta_P8         306.0
delta_P9         378.0
delta_P10        457.0

# 2   
### ideal gas equation : $$\rho = \frac{P}{R K}$$
$$\rho=rho$$
- [在Jupyter Notebook裡面寫Python程式碼和數學公式](https://www.itread01.com/content/1546065568.html)
- [在Jupyter notebook中編輯公式](https://www.cnblogs.com/laoduan/p/7641698.html)

In [74]:
#p1
rho1 = []
for i in np.arange(0,10): #[0~9]共10個
    x = float(p1_kpa[i])/dic['R']/dic['K']
    rho1.append(x)

rho1_label = []
for i in np.arange(1,11):
    rho1_label.append('p'+repr(i))

pd.DataFrame(rho1, index=rho1_label, columns=['p1空氣密度(kg/m^3)'])

     p1空氣密度(kg/m^3)
p1         1.196549
p2         1.195696
p3         1.194656
p4         1.193359
p5         1.191840
p6         1.189912
p7         1.187926
p8         1.185881
p9         1.183754
p10        1.181359

In [76]:
#p2
rho2 = []
for i in np.arange(0,10):
    x = float(p2_kpa[i]/dic['R']/dic['K'])
    rho2.append(x)

rho2_label = []
for i in np.arange(1,11):
    rho2_label.append('p'+repr(i))

pd.DataFrame(rho2, index=rho2_label, columns=['p2空氣密度(kg/m^3)'])

     p2空氣密度(kg/m^3)
p1         1.196199
p2         1.195159
p3         1.193827
p4         1.192191
p5         1.190228
p6         1.187739
p7         1.185063
p8         1.182305
p9         1.179337
p10        1.176019

$$\tau = \frac{\rho2}{\rho1}$$

In [77]:
tau = []
for i in np.arange(0,10): #[0~9]
    x = rho2[i]/rho1[i]
    tau.append(x)

tau_label = []
for i in np.arange(1,11):
    tau_label.append('tau'+repr(i))

pd.DataFrame(tau, index=tau_label, columns=['tau'])

            tau
tau1   0.999707
tau2   0.999550
tau3   0.999306
tau4   0.999021
tau5   0.998647
tau6   0.998173
tau7   0.997590
tau8   0.996985
tau9   0.996269
tau10  0.995480

$$\varepsilon$$

In [97]:
import math
E = []
for i in np.arange(0,10):
    x1 = float((dic['k']*tau[i]**(2/dic['k']))/(dic['k']-1))
    x2 = float((1-dic['b']**4)/(1-(dic['b']**4)*(tau[i]**(2/dic['k']))))
    x3 = float((1-tau[i]**((dic['k']-1)/dic['k']))/(1-tau[i]))
    E_ans = math.sqrt(x1*x2*x3)
    E.append(E_ans)

E_label = []
for i in np.arange(1,11):
    E_label.append('E'+repr(i))

pd.DataFrame(E, index=E_label, columns=['E'])

            E
E1   0.999777
E2   0.999658
E3   0.999471
E4   0.999255
E5   0.998970
E6   0.998610
E7   0.998166
E8   0.997705
E9   0.997160
E10  0.996560

# 3
#### U2(頸部的平均速度m/s)

In [100]:
# import math
U2 = []
for i in np.arange(0,10):
    x = math.sqrt((2*delta_P[i])/(rho2[i]*(1-dic['b']**4)))
    U2.append(x)

U2_label = []
for i in np.arange(1,11):
    U2_label.append('U2_'+repr(i))

pd.DataFrame(U2, index=U2_label, columns=['U2(m/s)'])

         U2(m/s)
U2_1    8.124483
U2_2   10.064748
U2_3   12.511095
U2_4   14.858122
U2_5   17.468729
U2_6   20.301718
U2_7   23.326476
U2_8   26.099531
U2_9   29.044486
U2_10  31.980687

In [ ]:
# Red
Red = []
for i in arange(0,10):